<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/publication">Publications</a></li>
	        		<li><a href="/honor">Honors</a></li>
	        		<li><a href="/blog">News</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:xushiyin1998@yahoo.com">email</a></li>
	        		<li><a href="https://github.com/Boversten">github.com/Boversten</a></li>
				<li><a href="https://scholar.google.com/citations?hl=en&authuser=1&user=d-zoJD0AAAAJ">google scholar</a></li>
				<li><a href="https://www.linkedin.com/in/kathleen-shiyin-x-50b887118/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
